@{
    ViewData["Title"] = "Преобразование акционерных обществ | Реорганизация ЗАО, ОАО | Алеана консалтинговый центр - оценка бизнеса, акций, всех видов имущества";
}

@section MiscSideMenu{
    <li id="current" class="active item56"><a asp-area="" asp-controller="Misc" asp-action="Reorganization"><span>Преобразование АО</span></a></li>
    <li class="item57"><a asp-area="" asp-controller="Misc" asp-action="Tech"><span>Изготовление техпаспорта</span></a></li>
    <li class="item59"><a asp-area="" asp-controller="Misc" asp-action="UnauthBuild"><span>Узаконение самостроев</span></a></li>
    <li class="item71"><a asp-area="" asp-controller="Misc" asp-action="Contacts"><span>Контакты</span></a></li>
    <li class="item72"><a asp-area="" asp-controller="Misc" asp-action="Articles"><span>Статьи</span></a></li>
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2">Преобразование акционерных обществ</p>
                <p><img src="~/images/reorg.jpg" border="0" alt="Реорганизация" style="margin: 5px 30px 50px 25px; float: left;" /></p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Консалтинговый центр "Алеана" предоставляет консультационные услуги акционерным обществам:</p>
                <ul class="tick">
                    <li>консультации по приведению деятельности акционерных обществ в соответствие с требованиями  Закона Украины «Об акционерных обществах»,  других законодательных и нормативних документов, регулирующих деятельность акционерных обществ;</li>
                    <li>помощь в подготовке новой редакции Устава, внутренних положений общества и других документов  в соответствие с требованиями  Закона Украины «Об акционерных обществах»;</li>
                    <li>помощь в процедуре ликвидации и реорганизации акционерных обществ;</li>
                </ul>
                <p class="podzagolovok1" style="text-indent:25px;">Осуществляет подготовку пакета документов      и их сопровождение  в  Государственной комиссии по ценным      бумагам и фондовому рынку для:</p>
                <ul class="tick">
                    <li><em>регистрации выпусков ценных бумаг и проспектов их эмиссии:</em></li>
                </ul>
                <ul>
                    <li><em>акций</em> – при создании акционерного общества;</li>
                    <li><em>акций</em> – при увеличении/уменьшении размера уставного капитала;</li>
                    <li><em>акций</em> – при деноминации акций, индексации основных фондов;</li>
                    <li><em>акций</em> – при реорганизации хозяйственных обществ;</li>
                    <li><em>замена свидетельства о регистрации выпуска акций</em> – при замене формы существования акций (с документарной на бездокументарную);</li>
                    <li><em>облигаций</em> предприятий (процентных, дисконтных, целевых), местных займов; <em>опционных сертификатов;</em></li>
                    <li><em>акций</em> корпоративных инвестиционных фондов;</li>
                    <li><em>инвестиционных сертификатов</em> паевых инвестиционных фондов;</li>
                </ul>
                <ul class="tick">
                    <li><em>остановки обращения акций, аннулирования выпусков акций и свидетельств о регистрации выпусков акций при ликвидации и реорганизации  акционерных обществ;</em></li>
                    <li><em>регистрации регламентов институтов совместного инвестирования (корпоративных и паевых инвестиционных фондов);</em></li>
                    <li><em>получения лицензий на осуществление профессиональной деятельности на фондовом рынке : </em></li>
                </ul>
                <ul>
                    <li>деятельности по торговле  ценными бумагами;</li>
                    <li>депозитарной  деятельности хранителя ценных бумаг;</li>
                    <li>деятельности по управлению активами институционных  инвесторов.</li>
                </ul>
                <p class="podzagolovok1" style="text-indent:25px;">Предоставляет консультационные услуги по всем вопросам деятельности на фондовом рынке.</p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}