@{
    ViewData["Title"] = "Акции";
}



@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2">Акции</p>
                <!--<p>Специальное предложение для риэлторов и риэлторских агентств.</p>
    <p>Заказав проведение 9 оценочных работ любых типов недвижимости - 10-ая работа для Вас бесплатно!</p>
    <p>Предложение действительно до 15.09.2011г.</p>-->
                <p>К сожалению, в данный момент отсутствуют</p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}
