@{
    ViewData["Title"] = "Оформление техпаспорта | Алеана консалтинговый центр - оценка бизнеса, акций, всех видов имущества";
}

@section MiscSideMenu{
    <li class="item56"><a asp-area="" asp-controller="Misc" asp-action="Reorganization"><span>Преобразование АО</span></a></li>
    <li id="current" class="active item57"><a asp-area="" asp-controller="Misc" asp-action="Tech"><span>Изготовление техпаспорта</span></a></li>
    <li class="item59"><a asp-area="" asp-controller="Misc" asp-action="UnauthBuild"><span>Узаконение самостроев</span></a></li>
    <li class="item71"><a asp-area="" asp-controller="Misc" asp-action="Contacts"><span>Контакты</span></a></li>
    <li class="item72"><a asp-area="" asp-controller="Misc" asp-action="Articles"><span>Статьи</span></a></li>
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2">На какие объекты нужен технический паспорт?</p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Технической инвентаризации подлежат:</p>
                <ul class="tick">
                    <li>дома квартирного типа разной этажности, общежития и их секции;</li>
                    <li>квартиры;</li>
                    <li>дома усадебного типа;</li>
                    <li>садовые и дачные дома;</li>
                    <li>жилые комнаты, жилые блоки в общежитиях;</li>
                    <li>здания и сооружения общественного и производственного (в том числе сельскохозяйственного) назначения и их комплексы;</li>
                    <li>объекты незавершенного строительства;</li>
                    <li>нежилые помещения (группы нежилых помещений);</li>
                    <li>гаражи и паркинги с машино-местами;</li>
                    <li>защитные сооружения гражданской защиты;</li>
                    <li>многофункциональные здания и комплексы, включающие помещения различного назначения.</li>
                </ul>
                <p style="text-indent: 25px; text-align: justify;">Если основное здание разрушено (снесено), вместо технического паспорта выдается справка о фактическом наличии хозяйственных (вспомогательных) зданий.</p>
                <p class="zagolovok2">Что такое технический паспорт?</p>
                <p style="text-indent: 25px; text-align: justify;"><strong>Технический паспорт</strong> – это документ, который составляется на основе материалов технической инвентаризации объекта недвижимого имущества.</p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Техпаспорт содержит основные сведения об объекте недвижимости, а именно:</p>
                <ol class="tick">
                    <li>местонахождение объекта (адрес);</li>
                    <li>состав объекта;</li>
                    <li>технические характеристики;</li>
                    <li>план и описание объекта;</li>
                    <li>имя / наименование владельца / заказчика;</li>
                    <li>сведения о праве собственности на объект недвижимого имущества;</li>
                    <li>сведения о субъекте хозяйствования, который изготовил технический паспорт;</li>
                    <li>дата изготовления технического паспорта;</li>
                    <li>срок действия технического паспорта.</li>
                </ol>
                <p style="text-indent: 25px; text-align: justify;">Техпаспорт выдается Заказчику.</p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Обязательные требования к оформлению:</p>
                <p style="text-indent: 25px; text-align: justify;">Технический паспорт должен быть прошит, пронумерован и скреплен подписью руководителя субъекта хозяйствования, который проводил инвентаризацию, а также подписью исполнителя работ и контроллера с указанием серии и номера квалификационного сертификата на право выполнения работ по технической инвентаризации объектов недвижимого имущества. Технический паспорт может быть оформлен как на целое здание так и на его часть, например квартиру или группу помещений.</p>
                <p class="zagolovok2">Сроки действия технического паспорта:</p>
                <p style="text-indent: 25px; text-align: justify;">Согласно ИНСТРУКЦИИ о порядке проведения технической инвентаризации объектов недвижимого имущества (см. Приложения) определен срок действия технических паспортов на отдельные виды недвижимого имущества и составляет 1 год.</p>
                <p style="text-indent: 25px; text-align: justify;">Сведения в техническом паспорте должны отражать актуальные характеристики недвижимого имущества.</p>
                <p class="zagolovok2">Зачем нужен новый технический паспорт?</p>
                <p style="text-indent: 25px; text-align: justify;">Технический паспорт на недвижимое имущество составляется при проведении как первичной, так и текущей инвентаризации и необходим в таких случаях:</p>
                <ul class="tick">
                    <li>купля - продажа, дарение, наследство недвижимого имущества для актуализации данных и/или при истечении срока действия техпаспорта;</li>
                    <li>приватизация объекта недвижимости;</li>
                    <li>для получения кадастрового номера на земельный участок;</li>
                    <li>при регистрации решения суда о признании права собственности;</li>
                    <li>при регистрации прав собственности на квартиру, дом или иной объект недвижимости;</li>
                    <li>при узаконении самостроя;</li>
                    <li>для узаконения перепланировки;</li>
                    <li>введение в эксплуатацию домов, построенных согласно разрешительной документации;</li>
                    <li>для заключения договора раздела недвижимого имущества;</li>
                    <li>по решению суда в рамках обеспечения иска;</li>
                    <li>в иных случаях, предусмотренных законодательством.</li>
                </ul>
                <p class="zagolovok2">Где можно изготовить технический паспорт?</p>
                <p class="podzagolovok1" style="text-indent:25px;">Как и где получить технический паспорт на квартиру?</p>
                <p style="text-indent: 25px; text-align: justify;">Техническая инвентаризация с целью изготовления технического паспорта осуществляется по инициативе собственника или его доверенного лица.</p>
                <p style="text-indent: 25px; text-align: justify;">Техническую инвентаризацию проводит субъект предпринимательской деятельности (компания), которая имеет разрешительные документы, а именно квалификационный сертификат и свидетельство о повышении квалификации специалиста.</p>
                <p style="text-indent: 25px; text-align: justify;">
                    Внимание! Проверить актуальность данных о специалисте, выполняющем работу по технической инвентаризации недвижимого имущества,  можно на сайте Минрегионстроя<br>
                    <a href="http://www.minregion.gov.ua/napryamki-diyalnosti/building/reyestr-atestovanih-osib/eksperti/">http://www.minregion.gov.ua/napryamki-diyalnosti/building/reyestr-atestovanih-osib/eksperti/</a>
                </p>
                <p><strong>Телефоны: (056) 767-60-02, (063) 930-23-04, (066) 756-70-81, (098) 756-49-03</strong></p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}