@{
    ViewData["Title"] = "Обучение и стажировка по оценке | \"Алеана\" Консалтинговый центр - экспертная оценка имущества, имущественных прав и бизнеса";
}



@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2" style="text-align: justify;">Обучение и стажировка по оценке</p>
                <p class="abzac" style="text-align: justify;"><img src="~/images/obuch.jpg" border="0" width="157" height="157" style="float: left; margin-left:25px; margin-right:10px;" /><strong>ЦЕНТР СТАЖИРОВКИ ОЦЕНЩИКОВ</strong> предлагает специально разработанную АВТОРСКУЮ ПРОГРАММУ для стажеров-оценщиков с целью получения профессиональных навыков и квалификационного свидетельства оценщика, а также для молодых специалистов, которые хотят получить углубленный опыт в практике оценочной деятельности.</p>
                <p class="abzac" style="text-align: justify;"><img src="~/images/med.jpg" border="0" width="182" height="261" style="float: right; margin-left:25px; margin-right:10px;" /><em>Руководитель стажировки - <strong>Мельниченко Елена Дмитриевна</strong> – директор оценочной компании, председатель Днепропетровского областного отделения Ассоциации специалистов оценки, председатель Днепропетровского областного отделения Союза оценщиков земли (СОЗ), </em><em>эксперт-оценщик высшей категории сертифицированный <a href="http://afo.com.ua/ru/myprofile/userprofile/187" target="_blank">«Ассоциацией специалистов оценки»</a> (АФО)<span style="font-style: italic;">. Стаж работы в оценочной деятельности - с 1996 года.</span></em></p>
                <p class="abzac">Курс стажировки проходит в формате теоретических и практических занятий. Занятия проводятся оценщиками, имеющими многолетний опыт практической деятельности, а также при формировании группы - аудиторами, сметчиками, специалистами БТИ, риелторами.</p>
                <p class="abzac">Приглашаем будущих оценщиков из всех регионов Украины.</p>
                <p class="abzac">Формат проведения – онлайн или по согласованию руководителя стажировки и стажера.</p>
                <p class="abzac">Программа рассчитана на стажеров, обучившихся в учебных центрах, а также всех заинтересованных слушателей, молодых оценщиков для приобретения качественного практического опыта в оценке.</p>
                <p class="abzac">Полнота раскрытия вопросов соответствует программе учебных центров, лицензированных Фондом государственного имущества Украины.</p>
                <p class="abzac">Стажеру предоставляется возможность в текущем режиме времени консультироваться с руководителем стажировки.</p>
                <p class="abzac">Для слушателей, не имеющих базового образования оценщика, часы стажировки засчитываются в общий стаж стажировки.</p>
                <p class="podzagolovok1" style="margin-left:25px;">Стажировка включает:</p>
                <ol>
                    <li> Теоретические семинары, углубленное изучение методических подходов. Проведение семинаров-тренингов.</li>
                    <li> Проведение выездных практических занятий по оценке объектов различного функционального назначения. Участие в практической работе компании. Консультации при выполнении отчетов.</li>
                    <li> Сопровождение в проведении оценочных работ. Консультации при их выполнении.</li>
                    <li> Тематические консультации специалистов. В процессе оценочной деятельности оценщику приходится часто сталкиваться с юридическими, финансовыми, техническими вопросами смежных профессий. Мы приглашаем лучших специалистов - юристов, специалистов БТИ, риелторов, аудиторов.</li>
                    <li> Обеспечение необходимой методической литературой.</li>
                    <li> Помощь в подготовке к квалификационным экзаменам.</li>
                </ol>
                <p class="podzagolovok1" style="margin-left:25px;">По итогу стажировки:</p>
                <ul>
                    <li> Вы получите комплекс теоретических знаний и практических навыков в оценочной деятельности.</li>
                    <li> Вы научитесь самостоятельно выполнять отчеты любой сложности по различным направлениям и видам оценки.</li>
                    <li> Вы сможете с нашей помощью подготовиться к квалификационному экзамену.</li>
                    <li> По результатам успешного прохождения стажировки вы получите рекомендацию Центра стажировки для сдачи экзамена и дальнейшего трудоустройства.</li>
                    <li> Мы с вами на связи не только в период стажировки. После ее окончания вы сможете получать консультации руководителя стажировки по сложным вопросам.</li>
                    <li> Мы поможем вам организовать бизнес оценочной компании.</li>
                </ul>
                <p class="podzagolovok1" style="margin-left:25px;">Период стажировки:</p>
                <p class="abzac">Программа рассчитана на 1 календарный год.</p>
                <p class="podzagolovok1" style="margin-left:25px;">Регионы стажировки:</p>
                <p class="abzac">Украина.</p>
                <p class="podzagolovok1" style="margin-left:25px;">Формат проведения:</p>
                <p class="abzac">Онлайн обучение. Очные и онлайн консультации.</p>
                <p class="podzagolovok1" style="margin-left:25px;">Стоимость:</p>
                <p class="abzac">Стоимость стажировки по направлению № 1 «Оценка объектов в материальной форме» составляет <strong>15 000 грн.</strong></p>
                <p class="abzac">Стоимость стажировки по направлению № 2 «Оценка целостных имущественных комплексов, паев, ценных бумаг, имущественных прав и нематериальных активов, в том числе прав на объекты интеллектуальной собственности» составляет <strong>30 000 грн.</strong></p>
                <p class="abzac">В процессе стажировки Вы приобретете самое ценное – практические навыки при оценке имущества, которые сможете применить при самостоятельной работе.</p>
                <p></p>
                <p><strong>Телефоны: (056) 767-60-02, (063) 930-23-04, (066) 756-70-81, (098) 756-49-03</strong></p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}