@{
    ViewData["Title"] = "Узаконение самостроев | Алеана консалтинговый центр - оценка бизнеса, акций, всех видов имущества";
}

@section MiscSideMenu{
    <li class="item56"><a asp-area="" asp-controller="Misc" asp-action="Reorganization"><span>Преобразование АО</span></a></li>
    <li class="item57"><a asp-area="" asp-controller="Misc" asp-action="Tech"><span>Изготовление техпаспорта</span></a></li>
    <li id="current" class="active item59"><a asp-area="" asp-controller="Misc" asp-action="UnauthBuild"><span>Узаконение самостроев</span></a></li>
    <li class="item71"><a asp-area="" asp-controller="Misc" asp-action="Contacts"><span>Контакты</span></a></li>
    <li class="item72"><a asp-area="" asp-controller="Misc" asp-action="Articles"><span>Статьи</span></a></li>
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2">Как узаконить самострой (самочинне будівництво) и зарегистрировать право собственности на него</p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Что такое самострой (самочинне будівництво)?</p>
                <p style="text-indent: 25px; text-align: justify;">Согласно ст. 376 Гражданского кодекса Украины жилой дом, здание, сооружение, другое недвижимое имущество считаются самовольным строительством, если они построены или строятся:</p>
                <ul class="tick">
                    <li>на земельном участке, не отведенном для этой цели;</li>
                    <li>без соответствующего документа, который дает право выполнять строительные работы или должным образом утвержденного проекта;</li>
                    <li>с существенными нарушениями строительных норм и правил.</li>
                </ul>
                <p style="text-indent: 25px; text-align: justify;">Если построенный Вами жилой дом, гараж, сарай, хозяйственная пристройка отвечают хотя бы одному из этих признаков, — это самовольное строительство. Для того, чтобы зарегистрировать право собственности на него, необходимо будет пройти процедуру узаконения.</p>
                <p class="podzagolovok1" style="text-indent:25px;">Как узаконить самострой?</p>
                <p style="text-indent: 25px; text-align: justify;">Упрощенная процедура принятия дома в эксплуатацию органами государственного архитектурно-строительного контроля согласно закону «О регулировании градостроительной деятельности» применяется к объектам строительства, которые по классу последствий (ответственности) относятся к объектам с незначительными последствиями (СС1), построены на земельном участке соответствующего целевого назначения, но без разрешительного документа на выполнение строительных работ, а именно на:</p>
                <ul class="tick">
                    <li>построенные в период с 5 августа 1992 года по 9 апреля 2015 года индивидуальные (усадебные) жилые дома, садовые, дачные дома общей площадью до 300 квадратных метров, а также хозяйственные (приусадебные) здания и сооружения общей площадью до 300 квадратных метров;</li>
                    <li>построенные до 12 марта 2011 здания и сооружения сельскохозяйственного назначения.</li>
                </ul>
                <p style="text-indent: 25px; text-align: justify;">Собственнику или пользователю земельного участка, на котором построено такое здание, следует провести техническое обследование строительства (проводится специалистами нашего предприятия), затем обратиться в органы государственного архитектурно-строительного контроля. В течение 10 рабочих дней со дня подачи заявления органы ГАСК должны бесплатно принять объект строительства в эксплуатацию.</p>
                <p style="text-indent: 25px; text-align: justify;">К заявлению о принятии в эксплуатацию объекта нужно приложить:</p>
                <ul>
                    <li>два экземпляра заполненной декларации;</li>
                    <li>отчет о проведении технического обследования объекта с информацией о возможности его надежной и безопасной эксплуатации (кроме индивидуальных (усадебных) жилых домов, садовых, дачных домов общей площадью до 300 квадратных метров, хозяйственных (приусадебных) зданий и сооружений общей площадью до 300 квадратных метров);</li>
                    <li>
                        заверенные в установленном порядке копии:
                        <ul>
                            <li>документа, удостоверяющего право собственности или пользования земельным участком, на котором размещен объект;</li>
                            <li>технического паспорта (с отметкой о проведенном техническом обследовании).</li>
                        </ul>
                    </li>
                </ul>
                <p style="text-indent: 25px; text-align: justify;">Один экземпляр декларации после ее регистрации возвращается заказчику, а другой остается в органе государственного архитектурно-строительного контроля, который ее зарегистрировал.</p>
                <p style="text-indent: 25px; text-align: justify;">Датой принятия в эксплуатацию объекта является дата регистрации декларации о готовности объекта к эксплуатации.</p>
                <p style="text-indent: 25px; text-align: justify;">Зарегистрированная декларация является основанием для проведения процедуры государственной регистрации права собственности.</p>
                <p style="text-indent: 25px; text-align: justify;"><strong>Наша компания обеспечивает получение ВСЕХ документов, необходимых для прохождения процедуры узаконения самостроя.</strong></p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Узаконение самостроя через суд</p>
                <p style="text-indent: 25px; text-align: justify;">Если же объект самовольного строительства не отвечает вышеописанным критериям, например, построен на земельном участке, имеющем иное целевое назначение, узаконить его возможно только через суд.</p>
                <p style="text-indent: 25px; text-align: justify;">Юристы нашего предприятия помогут Вам пройти этот путь в минимальные сроки.</p>
                <p class="podzagolovok1" style="margin-top:15px; text-align: justify; text-indent:25px;">Сколько стоит узаконить самострой</p>
                <p style="text-indent: 25px; text-align: justify;">Стоимость наших услуг по легализации самостроя стартует от 3000 гривен (для зданий и сооружений), построенных до 1992 года, и зависит от состава исходных документов, имеющихся у Заказчика.</p>
                <p style="text-indent: 25px; text-align: justify;"><strong>ВНИМАНИЕ! ВАЖНО!</strong> При анализе исходных документов важными вопросами являются: год постройки недвижимости, состав самостроя, наличие приватизации земельного участка, состав и регистрация правоустанавливающих документов  др.</p>
                <p style="text-indent: 25px; text-align: justify;">Профессиональная консультация относительно всех вопросов, связанных с Вашей недвижимостью, будет предоставлена нашей компанией после ознакомления с полным комплектом документов.</p>
                <p><strong>Телефоны: (056) 767-60-02, (063) 930-23-04, (066) 756-70-81, (098) 756-49-03</strong></p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}