@{
    ViewData["Title"] = "Алеана консалтинговый центр: о компании";
}

@section AboutSideMenu{
    <li id="current" class="parent active item40">
        <a asp-area="" asp-controller="About" asp-action="Index"><span>О компании</span></a>
        <ul>
            <li class="item41"><a asp-area="" asp-controller="About" asp-action="Team"><span>Команда</span></a></li>
            <li class="item43"><a asp-area="" asp-controller="About" asp-action="Clients"><span>Клиенты</span></a></li>
            <li class="item44"><a asp-area="" asp-controller="About" asp-action="Certificates"><span>Сертификаты</span></a></li>
            <li class="item45"><a asp-area="" asp-controller="About" asp-action="Partners"><span>Партнеры</span></a></li>
        </ul>
    </li>        
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2">О Компании</p>
                <p class="abzac">Консалтинговый центр «Алеана» осуществляет деятельность в сфере независимой оценки, бизнес - планирования,  экономического консалтинга.</p>
                <p class="abzac">Дата образования  ООО КЦ «Алеана» - 28.03.2000г.</p>
                <p class="abzac">Опыт профессиональной деятельности оценщиков с 1996 года</p>
                <p class="abzac">2007 г. - победитель   Национального конкурса «Украина. Лидер - оценщик 2007» в номинации ТОР-10 лучших   представителей украинской бизнес и научной элиты в сфере оценочной деятельности</p>
                <p class="abzac">Сотрудники Консалтингового центра «Алеана» являются членами  всеукраинских общественных организаций:</p>
                <ul>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">Ассоциация специалистов оценки (АСО);</span></span></li>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">Союз оценщиков земли (СОЗ);</span></span></li>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">Украинского общества оценщиков (УОО)</span></span></li>
                </ul>
                <p class="abzac">ООО КЦ «АЛЕАНА» имеет полный пакет документов на осуществление оценочной деятельности в Украине:</p>
                <ul>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">сертификат субъекта оценочной деятельности №14809/13 от 25.06.2013 г.;</span></span></li>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">лицензия на проведение землеоценочных работ серия АВ № 421147 дата выдачи 11.09.2008г.</span></span></li>
                    <li><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">документы оценщиков на право проведения независимой оценки имущества, имущественных прав и бизнеса на территории Украины, в том числе сертификаты, квалификационные свидетельства, свидетельства о повышении квалификации</span></span></li>
                </ul>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}
