@{
    ViewData["Title"] = "Оценка бизнеса";
}

@section EvaluationSideMenu{
    <li class="parent item42">
        <a asp-area="" asp-controller="Evaluation" asp-action="Business"><span>Оценка</span></a>
        <ul>
            <li id="current" class="active item55"><a asp-area="" asp-controller="Evaluation" asp-action="Business"><span>Оценка бизнеса</span></a></li>
            <li class="item52"><a asp-area="" asp-controller="Evaluation" asp-action="Act"><span>Оценка акций</span></a></li>
            <li class="item51"><a asp-area="" asp-controller="Evaluation" asp-action="RealEstate"><span>Оценка недвижимости</span></a></li>
            <li class="item53"><a asp-area="" asp-controller="Evaluation" asp-action="Auto"><span>Оценка транспорта</span></a></li>
            <li class="item54"><a asp-area="" asp-controller="Evaluation" asp-action="Equipment"><span>Оценка оборудования</span></a></li>
            <li class="item68"><a asp-area="" asp-controller="Evaluation" asp-action="IntellectualProperty"><span>Оценка интеллектуальной собственности</span></a></li>
            <li class="item60"><a asp-area="" asp-controller="Evaluation" asp-action="Ground"><span>Оценка земли</span></a></li>
            <li class="item70"><a asp-area="" asp-controller="Evaluation" asp-action="Price"><span>Прайс лист</span></a></li>
            <li class="item74"><a asp-area="" asp-controller="Evaluation" asp-action="Tax"><span>Оценка для целей налогообложения</span></a></li>
            <li class="item75"><a asp-area="" asp-controller="Evaluation" asp-action="NormativeBase"><span>Нормативна база з питань оцінки</span></a></li>
        </ul>
    </li>
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p class="zagolovok2" style="margin-bottom:5px;">Оценка бизнеса</p>
                <p style="text-align: justify; text-indent:20px;"><strong><img src="~/images/pic_4.jpg" border="0" width="157" height="157" style="float: left; margin-left:25px; margin-right: 10px; margin-bottom: 10px; border: 0pt none;" />Оценка бизнеса</strong> является  одним из основных инструментов при проведении операций инвестирования,  купли-продажи, страхования и др.</p>
                <p style="text-align: justify; text-indent:20px;">Правильное определение стоимости  компании как имущественного комплекса, способного приносить прибыль его  владельцу позволяет верно спрогнозировать налогообложение, рассчитать  соотношение долей акционеров или компенсационные выплаты при выходе  собственника из состава соучредителей предприятия.</p>
                <p style="text-align: justify; text-indent:20px;">Кроме того в процессе  работы оценивается эффективность, перспективы развития и конкурентная  среда компании, рассчитываются стоимости всех активов - недвижимости,  земли, оборудования и машин, складских запасов, финансовых вложений,  нематериальных активов. Оценка бизнеса часто является составляющей долей  работ в области бизнес планирования.</p>
                <p class="podzagolovok1" style="margin-left:25px;">Оценка бизнеса необходима при:</p>
                <ul>
                    <li>Полной или частичной продаже предприятия; </li>
                    <li> Разработке бизнес-плана; </li>
                    <li> Реструктуризации бизнеса / предприятия; </li>
                    <li> Проведении разного рода операций с ценными бумагами  предприятия; </li>
                    <li> Проведении страховых операций; </li>
                    <li> Получении кредита; </li>
                    <li> Переоценке активов предприятия с целью бухгалтерского учета; </li>
                    <li> Эмиссии ценных бумаг; </li>
                    <li> Определении базы налогообложения; </li>
                    <li> Кредитоспособности предприятия; </li>
                    <li> Определении арендной платы при аренде бизнеса; </li>
                    <li> Соответственных судебных решениях; </li>
                    <li> Принятии управленческих решений. </li>
                </ul>
                <p style="text-align: justify; text-indent:20px;"><a href="/Evaluation/Price" target="_blank">Цены и сроки выполнения работ по оценке бизнеса</a></p>
                <p></p>
                <p><strong>Телефоны: (056) 767-60-02, (063) 930-23-04, (066) 756-70-81, (098) 756-49-03</strong></p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}
