@{
    ViewData["Title"] = "\"Алеана\" Консалтинговый центр - оценка недвижимости, бизнеса, акций, интеллектуальной собственности, всех видов имущества";
}

@section TopMenu{
    <li id="current" class="active item46"><a asp-area="" asp-controller="Home" asp-action="Index"><span>Главная</span></a></li>
    <li class="item50"><a asp-area="" asp-controller="Home" asp-action="Business"><span>Оценка бизнеса</span></a></li>
    <li class="item61"><a asp-area="" asp-controller="Home" asp-action="Act"><span>Оценка акций</span></a></li>
    <li class="item47"><a asp-area="" asp-controller="Home" asp-action="RealEstate"><span>Оценка недвижимости</span></a></li>
    <li class="item48"><a asp-area="" asp-controller="Home" asp-action="Auto"><span>Оценка автотранспорта</span></a></li>
    <li class="item62"><a asp-area="" asp-controller="Home" asp-action="Training"><span>Обучение и стажировка</span></a></li>
}

@section Content{
    <table class="blog" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <div>
                    <table class="contentpaneopen">
                        <tr>
                            <td valign="top" colspan="2">
                                <p><img src="~/images/med.jpg" border="0" alt="Фото" style="float: right; margin-left: 20px; border: 0pt none; margin-top: 0px; margin-bottom: 30px; margin-right:20px;" /></p>
                                <address style="text-align: left;">
                                    <p class="podzagolovok1" style="text-align: center;">Приветствуем Вас на сайте<em> </em></p>
                                    <p class="podzagolovok1" style="text-align: center;"><em>консалтингового центра "Алеана"!</em></p>
                                </address>
                                <p class="abzac">Найти надежного партнера, получить качественные услуги - проблема известная каждому. <strong>Консалтинговый центр "Алеана</strong>" работает в сфере оценки различных видов имущества, имущественных прав и бизнеса с 2000 года и на сегодняшний день зарекомендовал себя, как надежный партнер с деловой репутацией. За годы работы наши специалисты выполнили более полутора тысяч работ по независимой оценке в большинстве регионов Украины.</p>
                                <p class="abzac" style="text-align: justify;">Мы обеспечиваем качество во всем, что мы делаем, и это помогает достичь успеха нашим клиентам. А  успех наших клиентов - это успех нашей компании.</p>
                                <p class="abzac" style="text-align: justify;">С уважением, Мельниченко Елена Дмитриевна, директор КЦ "Алеана".</p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px;"><span style="color: #000000;"><em>5 верных причин выбрать нас:</em></span></p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px; line-height: 1px;"><em>1. Профессионализм </em></p>
                                <p class="abzac">Сочетая использование инновационных методов и многолетние наработки в оценке, мы делаем для Вас только качественные работы</p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px; line-height: 1px;"><em>2. Опыт</em></p>
                                <p class="abzac">За более чем 10-ти летний срок активной деятельности мы выполнили более 2000 работ по всем направлениям оценочной деятельности</p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px; line-height: 1px;"><em>3. Оперативность</em></p>
                                <p class="abzac">Мы ценим Ваше время, поэтому мы выполняем работу не только качественно, но в максимально короткий срок</p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px; line-height: 1px;"><em>4. Ценовая политика</em></p>
                                <p class="abzac">Лояльная стоимость наших услуг при высоком качестве выполненных работ - мы придерживаемся лучшего сочетания для сотрудничества с Вами</p>
                                <p class="podzagolovok1" style="text-align: justify; margin-left: 25px; line-height: 1px;"><em>5. Надежность</em></p>
                                <p class="abzac">Обратившись к нам, Вы можете быть уверены в нашей порядочности и ответственности не только в выполнении работы, но и в партнерских взаимоотношениях</p>
                            </td>
                        </tr>
                    </table>
                    <span class="article_separator">&nbsp;</span>
                </div>
            </td>
        </tr>
    </table>
}