@{
    ViewData["Title"] = "Теоретические аспекты категории стоимости, применяемой при оценке предприятий";
}

@section MiscSideMenu{
    <li class="item56"><a asp-area="" asp-controller="Misc" asp-action="Reorganization"><span>Преобразование АО</span></a></li>
    <li class="item57"><a asp-area="" asp-controller="Misc" asp-action="Training"><span>Стажировка</span></a></li>
    <li class="item59"><a asp-area="" asp-controller="Misc" asp-action="Contacts"><span>Контакты</span></a></li>
    <li id="current" class="active item71"><a asp-area="" asp-controller="Misc" asp-action="Articles"><span>Статьи</span></a></li>
    <li class="item72"><a asp-area="" asp-controller="Misc" asp-action="SpecialOffers"><span>Акции</span></a></li>
}

@section Content{
    <table class="contentpaneopen">
        <tr>
            <td valign="top">
                <p><span style="font-family: georgia; font-size: 17px; color: #102947; ">Теоретические аспекты категории стоимости, применяемой при оценке предприятий</span></p>
                <p>В статье рассматриваются теоретические аспекты категории стоимости, как основополагающего понятия, используемого при независимой оценке имущества, имущественных прав и целостных имущественных комплексов. Корректное использование тех или иных видов стоимости, базирующееся на осознании понятия, создает предпосылки для успешного применения подходов, методов и оценочных процедур и получения достоверного результата оценки.</p>
                <p><strong><em>Ключевые слова</em></strong></p>
                <p>Потребительная стоимость, меновая стоимость, объект оценки, целостный имущественный комплекс, потребность, товар, прибавочная стоимость.</p>
                <p><strong><em>Постановка проблемы </em></strong></p>
                <p>Понятие стоимости в оценке является фундаментальной категорией при формировании единой цепи логического построения: потребность оценки – обозначение цели – объект оценки - определяемый вид стоимости – алгоритм определения  стоимости с использованием подходов, методов,  оценочных процедур – результат.</p>
                <p>Успешность проведения оценочных работ во многом зависит и, собственно,  определяется глубиной понимания «стоимости» как экономической категории. Определение, используемое в оценочной практике, формулирует стоимость, как эквивалент ценности объекта оценки, выраженный в вероятностной сумме денег, то есть той его наибольшей величине, которую может получить продавец и может согласиться оплатить покупатель.</p>
                <p>Определение, несмотря на его точный смысл, на самом деле, не дает глубокого понимания сути происходящих процессов и является, скорее, надводной частью айсберга.</p>
                <p>Для формирования понимания и корректного дальнейшего использования этой категории следует исходить из представлений об объекте, как о  товаре.</p>
                <p><em><strong>Результаты исследования </strong></em></p>
                <p>Необходимой предпосылкой возникновения процесса оценки является наличие, как минимум, двух субъектов рыночных взаимоотношений, проявляющих заинтересованность  по отношению к объекту. Как, правило, одна сторона выступает при этом продавцом (реальным или потенциальным), другая – покупателем (реальным или опосредованным).</p>
                <p>При этом смена прав собственности:</p>
                <p>а) может планироваться (при купле – продаже, процедурах банкротства, ликвидации предприятия и пр.);</p>
                <p>б) может состояться при определенных условиях (при кредитовании под залог);</p>
                <p>в) не предполагается (при страховании, определении величины арендной платы).</p>
                <p>Однако, во всех трех случаях объект оценки рассматривается в качестве товара и может быть реализован на открытом конкурентом рынке.</p>
                <p>Характер  планируемой сделки формирует цель оценки, и соответственно, и вид определяемой стоимости. Стоимость подразделяется на две категории: рыночную и нерыночную. Необходимо отметить, что и в том, и в другом случае необходимым условием существования стоимости, как экономической категории,  является, во- первых, наличие рыночной среды, во -  вторых, товарно – денежных отношений, и наконец, - потребности в товаре, что характеризуется наличием потребительной стоимости.</p>
                <p>Вид стоимости будет определяться характером среды, цели и специфики объекта. При этом базовой остается категория рыночной стоимости.</p>
                <p>А теперь о свойствах объекта оценки как товара. Товар должен обладать потребительной и меновой стоимостью.</p>
                <p>Потребительная стоимость, как известно, является результатом воплощения конкретного труда – столяра, токаря и т.д. и реализует потребность покупателя в конкретном благе для выполнения конкретных функций.</p>
                <p>Меновая стоимость товара воплощает в себе овеществленный абстрактный труд, труд, как таковой, причем, в количестве, признанным общественно необходимым для его производства.</p>
                <p>Эти теоретические постулаты, изложенные в «Капитале» К. Маркса, приведены выше с целью их дальнейшего использования для отдельных, специфичных категорий товара. Для категорий товара в материальной форме понятие стоимости является наиболее понятным, и не будет являться предметом рассмотрения этой статьи.</p>
                <p>Хотелось бы остановиться на определении стоимости предприятия или, используя формулировки профессиональных оценщиков, – целостных имущественных комплексов (ЦИК).</p>
                <p>Объекты оценки можно разделить на три группы: объекты в материальной форме, имущественные права и целостные имущественные комплексы (далее, предприятия).</p>
                <p>Объекты в материальной форме входят в состав предприятий, однако, могут рассматриваться лишь как структурные элементы, наибольшая ценность которых для действующего предприятия определяется реализацией вклада в получение дохода.</p>
                <p>Цель формирования объекта  - предприятия – состоит  не в группировке активов, а в создании системы производственных взаимоотношений с использованием основных и оборотных средств для получения конечного результата – прибыли (денежного потока).</p>
                <p>Предприятие выступает формой реализации предпринимательской деятельности, то есть, самостоятельной, инициативной, систематической, на собственный риск хозяйственной деятельности, осуществляемой субъектами хозяйствования (предпринимателями) с целью достижения экономических и социальных результатов и получения прибыли.</p>
                <p>Хозяйственное общество при этом является собственником:</p>
                <p>•	имущества, переданного ему  участниками и (или) приобретенного им в процессе производственной деятельности,</p>
                <p>•	продукции, изготовленной обществом в результате хозяйственной деятельности;</p>
                <p>•	полученных доходов.</p>
                <p>Таким образом, при смене прав собственности на товар, которым выступает предприятие, покупатель приобретает права на авансированный капитал и присвоение доходов от ведения хозяйственной деятельности.</p>
                <p>Рассмотрим, что же является потребительной стоимостью предприятия? Потребительная стоимость осуществляется лишь в пользовании или потреблении.</p>
                <p>Для создания потребительной стоимости, осуществляемой лишь в пользовании или потреблении, необходим определенный характер производственной деятельности, который определяется своей целью, характером операций, предметом, средствами и результатом.</p>
                <p>Моделируя логику покупателя целостного имущественного комплекса, следует обратить внимание на то, что, владелец капитала при принятии решения о его размещении, не выражает предпочтений относительно предприятий, производящих тот или иной вид продукции, которые могут лежать, как, например, в области тяжелого машиностроения, так и сельского хозяйства. Исключение составляет покупка предприятий в рамках кооперации, когда мотивация в части приобретения предприятия  заключается именно в производстве конкретного вида товара. Однако, при этом конечная цель – получение прибыли - остается неизменной.</p>
                <p>Конкретизируя вышесказанное, определимся, в чем же выражается благо при потреблении товара – предприятия. Что потребляет владелец предприятия? Здания, оборудование, товарные запасы? Удовлетворяют ли именно эти категории потребности собственника? И является ли сумма удовлетворенных потребностей от их использования равнозначной удовлетворенной потребности от блага, приносимого предприятием?  Безусловно, нет. Имущество предприятия, равно как и его продукция, не используются собственником для удовлетворения потребностей личного характера и рассматриваются в первом случае, в качестве средств производства, во втором,- как материальная форма будущих доходов.</p>
                <p>Ибо полезность предприятия характеризуется полезностью не отдельно взятых элементов, а полезностью результата, получаемого от системы комплексного взаимодействия, то есть сформированного нового качества.</p>
                <p>Таким образом, потребительная стоимость предприятия сводится к доходам, которые может получить инвестор в результате осуществления финансово - хозяйственной деятельности предприятия или, конкретизируя, к денежному потоку, формируемому при определенных условиях (в течение определенного времени и определенных рисках его получения). И категории сравнения целостных имущественных комплексов будут ограничиваться способностью предприятий генерировать денежные потоки в течение определенного периода времени с определенным риском.</p>
                <p>Поскольку меновая стоимость является эквивалентом ценности объекта, выраженным в  денежной форме, то с учетом вышесказанного можно сделать следующие выводы.</p>
                <p>И меновой, и потребительной стоимостью предприятия являются денежные средства с той лишь разницей, что потребительная стоимость (для функционирующего предприятия) – есть суть права на доходы или его производные, а меновая стоимость – оценка ценности этих прав.</p>
                <p>Рассмотрим меновую стоимость.  Известно, что авансированный капитал в результате осуществления хозяйственной деятельности не только сохраняет свою стоимость в обращении, но и возрастает, с приращением - прибавочной стоимостью.</p>
                <p>Именно отсюда следует, что имущество, приобретенное владельцем предприятия и являющееся его собственностью в качестве средств производства, по сути, является авансированным капиталом, а доходы – результатом деятельности, включающим авансированную сумму плюс прибавочная стоимость. Тогда собственность предприятия реализуется, с одной стороны, посредством прав предприятия на средства производства, с другой - прав на доходы, получаемые в процессе его деятельности.</p>
                <p>Процесс использования средств для получения прибавочной стоимости есть суть деятельности собственника, который ориентирован, прежде всего, на  получение все большего приращения, непрерывного и продолжительного во времени, и обеспечиваемого определенной вероятностью его получения.</p>
                <p>Единственным движущим мотивом действий собственника является преумножение во времени прибавочной стоимости и за это он готов рисковать не только добавочной к величине стоимости капитала частью, но и собственно капиталом в целом, авансируя его вновь и вновь.</p>
                <p>Обобщая вышесказанное, можно сделать вывод о том, что собственность предприятия в виде имущества (в частности, средств труда) и доходов (продукции), используемая в процессе хозяйственной деятельности, реализует получение блага для собственника в виде дополнительных доходов, формализованных в виде прибавочной стоимости, ценность которой определяется величиной, продолжительностью и рисками ее получения.</p>
                <p>Для определения ценности объекта используются, как уже было сказано выше, категории рыночной и нерыночной стоимости.</p>
                <p>Рыночная стоимость – это стоимость, по которой возможно отчуждение объекта оценки на рынке подобного имущества дату оценки по соглашению, заключенному между покупателем и продавцом после проведения соответствующего маркетинга при условии, что каждая из сторон действовала со знанием дела, рассудительно и без принуждения.</p>
                <p>В случае несоответствия условий соглашения, которые используются для определения рыночной стоимости, при оценке используются категории нерыночных видов стоимости.</p>
                <p>Часть из них базируется на оценке стоимости активов и являются оценкой ценности имущества, используемого в качестве обеспечения ведения финансово- хозяйственной деятельности. Это стоимость замещения (воссоздания), остаточная стоимость замещения (воссоздания), чистая стоимость реализации, стоимость ликвидации.</p>
                <p>Другая группа подразумевает не общественно признанную оценку ценности как таковую, а полезность с точки зрения конкретного собственника или специфики объекта, например, стоимость в использовании, потребительная стоимость, инвестиционная стоимость, оценочная стоимость.</p>
                <p>Таким образом, рыночная стоимость характеризует оценку ценности предприятия, реализованную через заключение сделки, то есть в сфере рыночных отношений при условии, что  не было субъективного влияния и особых условий, как относительно самого объекта, так субъектов сделки.</p>
                <p><strong><em>Выводы</em></strong></p>
                <p>Особенности применения категории стоимости для целостных имущественных комплексов заключается  в специфике объекта, как товара, имеющего потребительную и меновую стоимости, выраженных в виде денежных потоков, являющихся результатом осуществления финансово – хозяйственной деятельности предприятия. Применение рыночной или нерыночных видов стоимости продиктовано целью оценки, спецификой объекта и характером рыночной среды.</p>
                <p><em><strong>Литература:</strong></em></p>
                <p><em><span style="font-size: x-small;">Маркс К., Капитал. Критика политической экономии.Т.1.Кн.1 Процесс производства капитала- М.: Политиздат,1978.-907с.</span></em></p>
                <p><em><span style="font-size: x-small;">Гражданский кодекс Украины (с изменениями и дополнениями) от 16.01.2003г. № 435-IV.</span></em></p>
                <p><em><span style="font-size: x-small;">Хозяйственный кодекс Украины (с изменениями и дополнениями) от 16.01.2003г. № 436-IV.</span></em></p>
                <p><em><span style="font-size: x-small;">Закон Украины «О собственности»  (с изменениями и дополнениями) от 7.02.1991г. № 697 –XII.</span></em></p>
                <p><em><span style="font-size: x-small;">Национальный стандарт №1 «Общие положения оценки имущества и имущественных прав», утвержденный постановлением Кабинета Министров Украины от 10.09.2003г. №1440.</span></em></p>
                <p style="text-align: right;"><em>Автор: Мельниченко Елена</em></p>
            </td>
        </tr>
    </table>
    <span class="article_separator">&nbsp;</span>
}